main {
    height: 100dvh;

    section {
        width: 80vw;

        article {
            display: flex;
            gap: 490px;
            margin-bottom: 80px;

            h1 {
                text-transform: uppercase;
                margin: auto 0;
            }

            p {
                margin: auto 0;
            }
        }

        aside {
            display: flex;
            justify-content: space-between;

            div.filtro {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: bold;
                    font-size: 18px;
                }

                select {
                    padding: 15px;
                    border-radius: 7px;
                    background-color: white;
                    border: 2px solid rgb(228, 228, 228);
                    box-shadow: 0px 5px 5px -3px #aaa;
                    font-family: 'Poppins';
                    width: 250px;
                }
            }
        }

        table {
            text-transform: uppercase;
            border-spacing: 0 5px; 

            thead {
                th {
                    text-align: start;
                    padding: 12px;
                }
            }

            tbody {
                tr {
                    background-color: #ececec;

                    td {
                        padding: 12px;

                        i.expandir {
                            pointer-events: auto !important;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        p.legenda {
            padding: 12px;
        }

        i.pendente {
            color: red;
        }

        i.andamento {
            color: yellow;
        }

        i.finalizado {
            color: green;
        }
    }
}


mat-drawer {
    border-radius: 0;
    width: 240px;
}
