main {
    height: 100dvh;

    section {

        article {
            display: flex;
            gap: 200px;
            margin-bottom: 80px;

            h1 {
                text-transform: uppercase;
                margin: auto 0;
            }

            p {
                margin: auto 0;
            }
        }

        table {
            text-transform: uppercase;
            border-spacing: 0 5px; 

            thead {
                th {
                    text-align: start;
                    padding: 12px;
                }
            }

            tbody {
                tr {
                    background-color: #D9D9D9;

                    td {
                        padding: 12px;

                        i.expandir {
                            pointer-events: auto !important;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        p.legenda {
            padding: 12px;
        }

        i.pendente {
            color: red;
        }

        i.andamento {
            color: yellow;
        }

        i.finalizado {
            color: green;
        }
    }
}


mat-drawer {
    border-radius: 0;
}
