<main>
    <aside class="header">
        <h1 (click)="irPara(['/home'])">HealthFlow</h1>
    </aside>

    <div class="principal">
        <section class="menu">
            <div (click)="irPara(['/home'])">
                <i class="fa-solid fa-house"></i>
                <p>Home</p>
            </div>

            @if (usuario.idPerfil === 1 || usuario.idPerfil === 2) {
                <div (click)="irPara(['/triagem'])">
                    <i class="fa-solid fa-address-card"></i>
                    <p>Triagem</p>
                </div>
            }

            @if (usuario.idPerfil === 1) {
                <div class="selecionado" (click)="irPara(['/dashboards'])">
                    <i class="fa-solid fa-chart-pie"></i>
                    <p>Dashboards</p>
                </div>
            }

            @if (usuario.idPerfil === 1 || usuario.idPerfil === 2) {
                <div (click)="irPara(['/solicitacoes'])">
                    <i class="fa-solid fa-envelope"></i>
                    <p>Solicitar</p>
                </div>
            }

            @if (usuario.idPerfil === 1) {
                <div (click)="irPara(['/lista-demandas'])">
                    <i class="fa-solid fa-list"></i>
                    <p>Demandas</p>
                </div>
            }

            @if (usuario.idPerfil === 1) {
                <div (click)="irPara(['/vagas'])">
                    <i class="fa-solid fa-file"></i>
                    <p>Vagas</p>
                </div>
            }

            <div (click)="sair()">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p>Sair</p>
            </div>
        </section>

        <section class="conteudo">
            <article>
                <h1>Olá, {{usuario.nome}}</h1>

                <p>{{data}}</p>
            </article>

            <div id="dashboard-pdf">
                <div class="principal2">
                    <aside>
                        <div class="estatistica" style="background-color: #1D4D71;">
                            <h3>Fila Total</h3>
                            <h1>{{demandaTotal}}</h1>
                            <p>pacientes</p>
                        </div>

                        <div class="estatistica" style="background-color: #189ABB;">
                            <h3>Tempo Médio Espera</h3>
                            <h1>{{espera}}</h1>
                            <p>dias</p>
                        </div>
                    </aside>

                    <aside>
                        <div class="card">
                            <h3 style="margin-bottom: 40px;">Demandas por Especialidade</h3>
                            <div class="bars"  *ngIf="demandasEspecialidade.length > 0">
                                <div class="bar" 
                                    *ngFor="let item of demandasEspecialidade" 
                                    [style.height.%]="(item.value / maxValue()) * 100">
                                    <span class="value">{{ item.value }}</span>
                                    <span class="label" style="color: white;">{{ item.label }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <h3 style="margin-bottom: 40px;">Taxa de Comparecimento</h3>
                            <div class="donut">
                                <div class="circle" [style.--p]="comparecimento">
                                    <span class="percent">{{ comparecimento }}%</span>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
    </div>
</main>
