<main>
    <aside class="header">
        <h1 (click)="irPara(['/home'])">HealthFlow</h1>
    </aside>

    <div class="principal">
        <section class="menu">
            <div class="selecionado" (click)="irPara(['/home'])">
                <i class="fa-solid fa-house"></i>
                <p>Home</p>
            </div>

            @if (perfil === '1' || perfil === '2') {
                <div (click)="irPara(['/triagem'])">
                    <i class="fa-solid fa-address-card"></i>
                    <p>Triagem</p>
                </div>
            }

            @if (perfil === '1') {
                <div (click)="irPara(['/dashboards'])">
                    <i class="fa-solid fa-chart-pie"></i>
                    <p>Dashboards</p>
                </div>
            }

            @if (perfil === '1' || perfil === '2') {
                <div (click)="irPara(['/solicitacoes'])">
                    <i class="fa-solid fa-envelope"></i>
                    <p>Solicitar</p>
                </div>
            }

            @if (perfil === '1') {
                <div (click)="irPara(['/lista-demandas'])">
                    <i class="fa-solid fa-list"></i>
                    <p>Demandas</p>
                </div>
            }

            @if (perfil === '1') {
                <div (click)="irPara(['/vagas'])">
                    <i class="fa-solid fa-file"></i>
                    <p>Vagas</p>
                </div>
            }

            <div (click)="sair()">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p>Sair</p>
            </div>
        </section>

        <section class="conteudo">
            <article>
                <h1>Olá, {{nomeUsuario}}!</h1>

                <p>{{data}}</p>
            </article>

            <div class="divPrincipal">
                <aside>
                    @if (perfil === '1' || perfil === '2') {
                        <div (click)="irPara(['/triagem'])">
                            <img src="images/triagem.png" height="160px" width="160px" alt="">
                            <span>Triagem</span>
                        </div>
                    }

                    @if (perfil === '1') {
                        <div (click)="irPara(['/dashboards'])">
                            <img src="images/dashboard.png" height="160px" width="160px" alt="">
                            <span>Dashboards</span>
                        </div>
                    }

                    @if (perfil === '1' || perfil === '2') {
                        <div (click)="irPara(['/solicitacoes'])">
                            <img src="images/solicitar-exame.png" height="160px" width="160px" alt="">
                            <span>Solicitações</span>
                        </div>
                    }
                </aside>

                <aside>
                    @if (perfil === '1') {
                        <div (click)="irPara(['/lista-demandas'])">
                            <img src="images/lista-demandas.png" height="160px" width="160px" alt="">
                            <span>Lista de Demandas</span>
                        </div>
                    }

                    @if (perfil === '1') {
                        <div (click)="irPara(['/vagas'])">
                            <img src="images/vagas.png" height="160px" width="160px" alt="">
                            <span>Vagas</span>
                        </div>
                    }
                </aside>
            </div>
        </section>  

        <!-- <section class="noticias">
            <div>
                <p>Home</p>
            </div>

            <div>
                <p>Triagem</p>
            </div>

            <div>
                <p>Dashboards</p>
            </div>
        </section> -->
    </div>
</main>