header {
    background-color: #164060;
    height: 120px;
    font-family: 'Poppins';
    display: flex;

    search {
        margin: auto 20%;
        form {
            input {
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                background-color: #04253E;
                border: none;
                border-radius: 5px;
                padding: 8px;
                font-size: 18px;
            }
        }
    }
}