main {
    display: flex;
    flex-direction: column;
    background-image: url("/images/fundi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    position: relative; 
    z-index: 0; 

    aside {
        background-color: #0F65A2;
        width: 100%;
        height: 10%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.534);
    }

    section {
        width: 35%;
        height: 80%;
        margin: -30px 10% auto auto;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.534);
        font-family: 'Poppins';
        padding-top: 1%;
        background-color: #F0F3F8;
        justify-content: center;
        display: flex;
        flex-direction: column;

        img  {
            margin: auto;
        }

        h1 {
            color: #164060;
            text-align: center;
            font-size: 4rem;
            margin-bottom: 5px;
        }

        p {
            margin: 25px auto auto auto;
            font-size: 20px;
            color: #6B7280;
        }

        div.form {
            display: flex;
            flex-direction: column;
            padding: 80px;
            padding-top: 50px;
            border-bottom: 8px solid #0F65A2;

            label {
                font-weight: bold;
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 8px;
            }

            input {
                margin-bottom: 35px;
                padding-left: 10px;
                height: 60px;
                border-radius: 8px;
                background-color: rgb(243, 243, 243);
                border: 2.5px solid #164060;
                font-family: 'Poppins';
                font-size: 17px;
                color: #444952;
            }

            input:focus {
                border-color: #0055A5;
                outline: none;
            }

            button {
                margin-top: 50px;
                padding: 10px;
                background-color: #0F65A2;
                color: white;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                text-transform: uppercase;
                width: 100%;
                // height: %;
                font-weight: bold;
                transition: 0.2s;
                font-family: 'Poppins';
                font-size: 18px;
                margin: auto;
            }

            button:hover {
                color: white;
                background-color: #164060;
            }

            div.user-type-selector {
                display: flex;
                gap: 10px;
                margin-bottom: 20px;
            }

            div.user-type-selector button {
                flex: 1;
                padding: 10px;
                border-radius: 6px;
                border: 1px solid #ccc;
                background: #f4f4f4;
                cursor: pointer;
                transition: 0.2s;
                font-size: 16px;
                font-family: 'Poppins';
                color: rgb(85, 85, 85);
            }

            div.user-type-selector button.active {
                background: #0066ff;
                color: #fff;
                border-color: #0053cc;
                font-weight: bold;
                transform: translateY(-2px);
                box-shadow: 0 3px 6px rgba(0,0,0,0.15);
            }

        }
    }
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 202, 202, 0.4); 
    backdrop-filter: blur(5px); 
    z-index: -1; 
}